GOOGLE_SERVICE_ACCOUNT_EMAIL=seu-email-de-servico@projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nsua-chave-privada-aqui\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=seu_id_da_planilha_aqui
